@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');

body {
  height: 100vh;
  margin: 0;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Hero section */
.hero {
  background-color: #1f2937;
  display: flex;
  flex-direction: column;
  padding: 16px 150px 90px 150px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  color: #f9faf8;
  font-size: 24px;
  font-weight: 700;
}

.header-link, .hero-secondary {
  color: #e5e7eb;
  font-size: 18px;
}

.header-link {
  display: flex;
  gap: 16px;
  padding-left: 40px;
}

.hero-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 90px;
}

.hero-main {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

.button {
  font-size: 18px;
  font-weight: 700;
  color: #f9faf8;
  background-color: #3882f6;
  padding: 8px 16px;
  border: 0;
  border-radius: 6px;
}

.hero-img {
  max-width: 500px;
  height: auto;
  padding-left: 40px;
}

/* Information section */
.info-header {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.destinations {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 32px;
  padding: 30px;
}

.destinations-link {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.destinations img {
  width: 225px;
  height: 225px;
  margin: auto;
  border: 0;
  border-radius: 8px;
}

.destinations span {
  text-align: center;
  padding-top: 6px;
}

/* Quote section */
.quote {
  color: #1f2937;
  background-color: #e5e7eb;
  padding: 100px 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.quote p {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  margin: 0;
}

.quote div {
  font-size: 22px;
  font-weight: bold;
  padding-top: 6px;
}